.confirmation{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.confirmation-form{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 20px 15px;
    color: var(--blueColor);
    font-size: 1.4rem;
    background-color: white;
    border: 2px solid var(--blueColor);
    border-radius: 10px;
}
.confirmation-inputs{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.confirmation-inputs div{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 5px;
    background-color: #F5F5F5;
    border: 1px solid #d4d4d4;
    outline: 1px solid white;
    border-radius: 7px;
    padding: 7px;
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.8);
}
.confirmation-inputs img {
    cursor: pointer;
    width: 30px;
}
.confirmation-form button{
    width: 100%;
    height: fit-content;
    text-align: center;
    color: white;
    background-color: #154360;
    padding: 8px 0;
    border-radius: 5px;
}
@media (pointer: fine){
    .confirmation-form button:hover{
        transition: all 0.2s;
        background-color: #c0392b;
        cursor: pointer;
    }
}
.errors {
    font-size: 0.9rem;
    color: red;
    margin-top: -30px;
}

.admin{
    width: 100%;
    display: flex;
    gap: 15px;
    margin-bottom: 50px;
}
.admin-general{
    max-width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.general-item{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid var(--blueColor);
    border-radius: 10px;
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
}
.general-item h2 {
    font-size: 1.35rem;
    text-align: center;
    color: var(--blueColor);
}
.general-item p{
    font-size: 1.3rem;
    text-align: center;
}
.general-item:nth-child(1) div{
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 22px 0;
}
.general-item:nth-child(2) div:nth-child(1){
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 22px 0;
}
.general-item:nth-child(2){
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
.general-item:nth-child(2) div:nth-child(2){
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
.general-item:nth-child(2) div:nth-child(2) p{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    padding: 0 10px;
}
.general-item:nth-child(2) div:nth-child(2) span{
    font-size: 1.1rem;
}
.general-item:nth-child(2) div:nth-child(2) p a{
    max-width: calc(100% - 150px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
    border-bottom: 2px solid rgba(0, 0, 0, 0.7);
    transition: all 0.2s ease-in-out;
}
@media (pointer: fine) {
    .general-item:nth-child(2) div:nth-child(2) p a:hover{
        color: var(--redColor);
        border-bottom: 2px solid var(--redColor);
    }
}
.general-button{
    height: fit-content;
    text-align: center;
    color: white;
    background-color: #154360;
    padding: 8px 0;
    border-radius: 5px;
    font-size: 1.3rem;
}
@media (pointer: fine){
    .general-button:hover{
        transition: all 0.2s;
        background-color: #c0392b;
        cursor: pointer;
    }
}
.moradias{
    width: 100%;
    height: fit-content;
    display: flex;
}
.item_lista{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
}
.casa_img{
    width: 500px;
    height: 240px;
}
.casa_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.casa_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
    padding: 10px;
}
.casa_info p{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.casa_info p:nth-last-child(3){
    width: calc(100% - 285px);
    white-space: nowrap;
}
.casa_info h2{
    font-size: 1.5rem;
    width: calc(100% - 125px);
    overflow: hidden;
    text-overflow: ellipsis;
}
.casa_info p img{
    width: 23px;
    height: auto;
}
.casa_detalhes{
    display: flex;
    gap: 10px;
}
.casa_detalhes_extras{
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    display: flex;
    gap: 7px;
    margin: 2% 0;
}
.casa_detalhes_preco{
    display: flex;
    flex-direction: column;
}
.casa_detalhes_preco a{
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: #154360;
    padding: 8px 12px;
    border-radius: 100px;
}
@media (pointer: fine){
    .casa_detalhes_preco a:hover{
        transition: all 0.2s;
        background-color: #c0392b;
        cursor: pointer;
    }
}
.casa_adm{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    display: flex;
    flex-direction: column;
    width: 125px;
    gap: 5px;
}
.casa_adm button{
    width: 100%;
    color: white;
    background-color: #154360;
    padding: 7px 0;
    text-align: center;
    border-radius: 5px;
    font-size: 1.1rem;
}
@media (pointer: fine) {
    .casa_adm button:hover{
        transition: all 0.2s;
        background-color: #c0392b;
        cursor: pointer;
    }
}
.dhave {
    position: fixed;
    width: 67%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 100px 10px;
    background-color: white;
    color: var(--blueColor);
    border-radius: 10px;
}
.dhave img{
    width: 100px;
}
.dhave h1 {
    text-align: center;
    font-size: 1.3rem;
}
.dhave a,.dhave button{
    width: fit-content;
    text-align: center;
    color: white;
    background-color: #154360;
    padding: 7px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
}
.dhave button{
    display: none;
}

@media screen and (max-width: 1200px) {
    main{
        flex-direction: column;
        gap: 30px;
        margin: 0;
        padding: 0;
    }
    .admin-general{
        max-width: unset;
        width: 100%;
        flex-direction: row;
    }
    .general-item{
        width: 50%;
    }
}

@media screen and (max-width: 992px) {
    header{
        display: none;
    }
    .moradias{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px 0;
        justify-content: space-between;
    }
    .item_lista{
        flex-direction: column;
        width: 48%;
        height: fit-content;
    }
    .item_lista .casa_img{ 
        width: 100%;
        height: 250px;
    }
    .casa_img img{
        border-bottom-left-radius: unset;
        border-top-right-radius: 10px;
    }
    .casa_info{
        width: 100%;
        height: 100%;
    }
    .casa_info h2{
        width: 100%;
    }
    .casa_info p:nth-last-child(3){
        width: 100%;
    }
    .casa_detalhes{
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .casa_detalhes_preco{
        gap: 10px 0;
    }
    .casa_detalhes_preco p{ 
        font-size: 1.2rem;
    }
    .casa_detalhes_extras img{
        width: auto;
        height: 20px;
    }   
    .casa_adm{
        position: unset;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .casa_adm button{
        width: 90%;
    }
    .admin-general{
        flex-direction: column;
    }
    .general-item{
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .moradias{
        justify-content: center;
    }
    .casa_info h2{
        font-size: 1.4rem;
    }
    .item_lista{
        width: 90%;
    }
}

@media screen and (min-width: 600px) and (max-width: 765px) {
    .casa_info h2{
        font-size: 1.4rem;
    }
    .casa_info p{
        font-size: 0.9rem;
    }
    .casa_detalhes_preco p{ 
        font-size: 1.1rem;
    }
    .casa_detalhes{
        flex-direction: column;
    }
    .casa_detalhes_extras{
        align-self: flex-start;
    }
}

@media screen and (min-width: 992px) {
    .moradias{
        flex-direction: column;
        gap: 15px;
    }
    .item_lista .casa_img{
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .casa_info{
        justify-content: center;
    }
    .casa_info p{
        font-size: 1rem;
    }
    .casa_detalhes{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 10px 7px 0;
    }
    .casa_detalhes_preco{
        gap: 7px;
        align-items: center;
    }
    .casa_detalhes_preco p{ 
        font-size: 1.3rem;
    }
    .casa_detalhes_extras img{
        width: auto;
        height: 22px;
    }
}