:root{ 
    --blueColor: #154360;
    --redColor: #c0392b;
    --menu-items: 7;
    scroll-behavior: smooth;
}
body{
    background-color: #eeeeee;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    padding-bottom: 30px;
}
.mobile-menu-overlay,.mobile-menu-bar{
    display: none;
}
.header-main{
    position: fixed;
    top: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    font-size: 1.22rem;
    color: var(--blueColor);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
}
.wrapper,.header-wrapper{
    width: 90%;
}
.wrapper{
    height: fit-content;
    align-self: center;
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
.header-wrapper{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    width: 120px;
    height: fit-content;
    display: flex;
    align-items: center;
    margin: 5px 0 0 0;
}
.header-exit-button{
    display: none;
}
.header-navigation{
    width: fit-content;
    height: fit-content;
}
.header-navigation img {
    display: none;
    width: auto;
    height: 22px;
    margin: 1px 0 0 0;
}
.header-navigation ul,.header-icons ul{
    display: flex;
    gap: 20px; /* standard: 30px */
    margin-top: 2px;
}
.header-navigation ul li{
    width: fit-content;
    display: flex;
    gap: 10px;
}
.header_logged a,.header-icons ul li a{
    border-bottom: 2px solid transparent;
}
@media (pointer: fine) {
    .header_logged a:hover,.header-icons ul li a:hover{
        transition: all 0.3s;
        cursor: pointer;
        color: var(--redColor);
        border-bottom: 2px solid var(--redColor);
    }
    .header-dropdown ul li a:hover{
        color: white;
        border-bottom: 2px solid white;
    }
}
.header_logged{
    color: var(--blueColor);
}
.header_not_logged{
    color: rgba(0, 0, 0, 0.3);
    cursor: unset;
    user-select: none;
}
#header_user_logged{
    display: none;
}
.header-icons{
    display: flex;
    align-items: center;
    gap: 20px 30px;
    width: fit-content;
    height: fit-content;
}
.header-icons-addnotif{
    display: flex;
    gap: 30px;
    width: fit-content;
    height: fit-content;
}
.header-icons ul{
    gap: 10px;
}
.header-icons div,.header-icons a{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-icons img{
    width: auto;
    height: 25px;
}
.header-pfp{
    flex-direction: column;
}
.header-pfp section,.header-pfp a{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 1.3rem;
}
.header-pfp span{
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    user-select: none;
}
#header-pfp-img{
    width: 35px;
    height: 35px;
    border: 2px solid var(--blueColor);
    border-radius: 100px;
    margin: 0;
    padding: 0;
}
.header-pfp img{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border-radius: 100px;
    object-fit: cover;
}
.header-dropdown{
    width: fit-content;
    max-height: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    right: 5%;
    background-color: #1c5375;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}
.header-dropdown ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 1.3rem;
    margin: 10px;
}
.header-dropdown ul li a{
    color: white;
}
.header-logo a img:hover,.header-pfp img,.header-icons img{
    cursor: pointer;
}

/* Hide scrollbar*/
body::-webkit-scrollbar {
    display: none;
}
html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
/* Hide input[number] arrows */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    appearance: unset;
    -moz-appearance: textfield;
}
@media only screen and (max-width: 992px) {
    body{
        margin: 50px 0 0 0;
    }
    .mobile-menu-bar{
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border-bottom: 1px solid var(--blueColor);
        padding: 0 10px;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
    }
    .mobile-menu-logo{
        width: fit-content;
        height: fit-content;
        cursor: pointer;
    }
    .mobile-menu-logo img{
        width: 120px;
        height: auto;
    }
    .mobile-menu-button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        height: fit-content;
        cursor: pointer;
    }
    .mobile-menu-button img{
        width: 30px;
        height: auto;
    }
    .mobile-menu-overlay{
        position: absolute;
        background-color: rgba(0, 0, 0, 0.2);
        width: 100vw;
        height: 100vh;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 9;
    }
    .header-main{
        display: flex;
        height: 100%;
        width: 0%;
        overflow: hidden;
    }
    .header-wrapper{
        width: 100%;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
    }
    .header-logo{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        background-color: #154360;
        padding: 10px 12px 7px 12px;
        order: 1;
    }
    .header-logo img{
        width: 120px;
        height: auto;
    }
    .header-exit-button{
        display: flex;
        cursor: pointer;
    }
    .header-exit-button img {
        width: 30px;
        height: auto;
    }
    .header-icons{
        width: 100%;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
        border-bottom: 2px solid #15436050;
        order: 2;
    }
    .header-icons-addnotif{
        order: 2;
        gap: 40px;
    }
    .header-icons-addnotif img{
        width: 22px;
        height: auto;
    }
    .header-pfp section{
        display: flex;
        flex-direction: row-reverse;
        font-size: 1.3rem;
    }
    .header-navigation{
        width: 100%;
        height: 100%;
        padding: 30px 0;
        order: 3;
    }
    .header-navigation ul{
        width: 100%;
        height: 100%;
        margin: 0;
        flex-direction: column;
        padding: 0 25px;
        gap: 50px;
        font-size: 1.25rem;
    }
    .header-navigation img{
        width: auto;
        height: 22px;
        display: flex;
    }
    #header_user_logged{
        display: flex;
    }
    .header-dropdown{
        max-width: 0px;
        max-height: 0px;
    }
    .header-pfp section,.header-pfp img{
        cursor: unset;
        pointer-events: none;
    }
}
@media only screen and (min-width: 993px){
    .header-main{
        width: 100%;
    }
}