.notifications{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.notifications-header{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--blueColor);
}
.notifications-header h1{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 1.5rem;
}
.notifications-header img{
    width: 27px;
}
.notifications-header button{
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: var(--blueColor);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}
@media (pointer: fine){
    .notifications-header button:hover{
        transition: all 0.2s;
        background-color: var(--redColor);
        cursor: pointer;
    }
}
.notifications-content{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.notification-content-item{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: white;
    padding: 20px 10px 5px 10px;
    border-radius: 10px;
    border: 2px solid var(--blueColor);
}
.notification-content-item-unreaded{
    background-color: beige;
}
.notification-content-item div{
    width: fit-content;
    height: fit-content;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.notification-content-item h2{
    width: fit-content;
    height: fit-content;
    font-size: 1.6rem;
    color: var(--blueColor);
}
.notification-content-item p{
    width: 100%;
    height: fit-content;
    line-height: 25px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.8);
}
.notification-content-item span{
    width: fit-content;
    height: fit-content;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.6);
}
.notification-content-item button,.notification-content-item a{
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: var(--blueColor);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}
@media (pointer: fine){
    .notification-content-item button:hover,.notification-content-item a:hover{
        transition: all 0.2s;
        background-color: var(--redColor);
        cursor: pointer;
    }
}
.notification-content-item small{
    width: fit-content;
    height: fit-content;
    font-size: 0.9rem;
    color: var(--redColor);
}

.notifications-dhave{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 14% 10px;
    background-color: white ;
}
.notifications-dhave img{
    width: 100px;
}
.notifications-dhave h2{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.notifications-dhave a{
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: var(--blueColor);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}
@media (pointer: fine){
    .notifications-dhave a:hover{
        transition: all 0.2s;
        background-color: var(--redColor);
        cursor: pointer;
    }
}

@media only screen and (max-width: 992px) {
    .notifications-header{
        flex-direction: column;
        gap: 20px;
        justify-content: unset;
        align-items: unset;
    }
    .notifications-header div {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}