main{
    width: 100%;
    display: flex;
    gap: 3%;
    margin-bottom: 50px;
}
.moradias{
    width: 100%;
    height: fit-content;
    display: flex;
}
.item_lista{
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.1);
}
.casa_img{
    width: 500px;
    height: 240px;
}
.casa_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.casa_info{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 15px;
    padding: 10px;
}
.casa_info p{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.casa_info p:nth-last-child(2){
    width: calc(100% - 285px);
    white-space: nowrap;
}
.casa_info h2{
    font-size: 1.5rem;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.casa_info p img{
    width: 23px;
    height: auto;
}
.casa_detalhes{
    display: flex;
    gap: 10px;
}
.casa_detalhes_extras{
    width: fit-content;
    height: fit-content;
    align-self: flex-end;
    display: flex;
    gap: 7px;
    margin: 2% 0;
}
.casa_detalhes_preco{
    display: flex;
    flex-direction: column;
}
.casa_detalhes_preco a{
    width: 130px;
    height: fit-content;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    background-color: #154360;
    padding: 7px 0;
}
@media (pointer: fine){
    .casa_detalhes_preco a:hover{
        transition: all 0.2s;
        background-color: #c0392b;
        cursor: pointer;
    }
}
.casa_status{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px 10px 0 0;
    font-size: 1.3rem;
    user-select: none;
}
.publicacoes-dhave{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 14% 10px;
    background-color: white ;
}
.publicacoes-dhave img{
    width: 100px;
}
.publicacoes-dhave h2{
    font-size: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.publicacoes-dhave a{
    width: fit-content;
    height: fit-content;
    color: white;
    background-color: var(--blueColor);
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 1.2rem;
    text-align: center;
}
@media (pointer: fine){
    .publicacoes-dhave a:hover{
        transition: all 0.2s;
        background-color: var(--redColor);
        cursor: pointer;
    }
}

/* Break Points: 600px 601px 768px 992px 1200px */

@media screen and (max-width: 1200px) {
    main{
        flex-direction: column;
        gap: 30px;
        margin: 0;
        padding: 0;
    }
}

@media screen and (max-width: 992px) {
    header{
        display: none;
    }
    .moradias{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px 0;
        justify-content: space-between;
    }
    .item_lista{
        flex-direction: column;
        width: 48%;
        height: fit-content;
    }
    .item_lista .casa_img{ 
        width: 100%;
        height: 250px;
    }
    .casa_img img{
        border-bottom-left-radius: unset;
        border-top-right-radius: 10px;
    }
    .casa_info{
        width: 100%;
        height: 100%;
    }
    .casa_info p:nth-last-child(2){
        width: 100%;
    }
    .casa_detalhes{
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .casa_detalhes_preco{
        gap: 10px 0;
    }
    .casa_detalhes_preco p{ 
        font-size: 1.2rem;
    }
    .casa_detalhes_extras img{
        width: auto;
        height: 24px;
    }
    .casa_status{
        position: relative;
    }
}

@media screen and (max-width: 765px) {
    .moradias{
        justify-content: center;
    }
    .casa_info h2{
        font-size: 1.4rem;
    }
    .item_lista{
        width: 90%;
    }
}

@media screen and (min-width: 992px) {
    .moradias{
        flex-direction: column;
        gap: 15px;
    }
    .item_lista .casa_img{
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
    .casa_info{
        justify-content: center;
    }
    .casa_info p{
        font-size: 1rem;
    }
    .casa_detalhes{
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 0 10px 7px 0;
    }
    .casa_detalhes_preco{
        gap: 7px;
        align-items: center;
    }
    .casa_detalhes_preco p{ 
        font-size: 1.3rem;
    }
    .casa_detalhes_extras img{
        width: auto;
        height: 24px;
    }
}