:root{
    --blueColor: #154360;
    --redColor: #c0392b;
    scrollbar-width: none;
}
body{
    margin: 0;
    background-color: #f5f5f5;
    font-size: 1.2rem;
}
main{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
}
.banner{
    width: 100%;
    height: 475px;
    background: rgb(81,75,219);
    background: linear-gradient(90deg, rgba(81,75,219,1) 50%, rgba(21,67,96,1) 100%);
    color: white;
    display: flex;
}
.banner-text,.banner-img{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner-img{
    align-items: center;
}
.banner-text{
    padding: 0 0 0 80px;
    gap: 50px;
}
.banner-text h1{
    font-size: 4rem;
}
.banner-text h2{
    color: white;
    font-size: 1.4rem;
}
.banner-text p{
    color: rgba(255, 255, 255, 0.85);
    font-size: 1.2rem;
    width: 85%;
}
.banner-text a,.features a{
    width: fit-content;
    height: fit-content;
    background-color: #f5f5f5;
    color: black;
    padding: 10px 30px;
    border-radius: 2px;
    transition: box-shadow 0.3s ease-in-out,color 0.3s ease-in-out;
}
@media (pointer: fine){
    .banner-text a:hover{
        cursor: pointer;
        color: white;
        box-shadow: inset 281px 0 0 0 #c0392b;
    }
}
.banner-img img{
    width: 350px;
    height: auto;
    user-select: none;
}
.features{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px 0;
}
.features h2{
    font-size: 2rem;
}
.features a{
    border: 2px solid #2E4793;
    margin: 30px 0;
}
@media (pointer: fine){
    .features a:hover{
        cursor: pointer;
        color: white;
        box-shadow: inset 281px 0 0 0 #2E4793;
    }
}
.features-items{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
}
.features-item{
    width: 25%;
    background-color: #2E4793;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 20px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 7px 7px 6px rgba(0, 0, 0, 0.2);
}
@media (pointer: fine){
    .features-item:hover{
        transition: transform 0.2s ease-in-out;
        transform: scale(1.02);
    }
}
.features-item img{
    width: 80px;
    height: auto;
    margin: 50px 0 40px 0;
    user-select: none;
}
.features-item h2{
    font-size: 1.6rem;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-align: center;
}
.features-item p{
    font-size: 1.05rem;
    color: rgba(255, 255, 255, 0.85);
    line-height: 25px;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .features-item h2{
        font-size: 1.3rem;
    }
    .features-item p{
        font-size: 1rem;
    }
}
@media only screen and (max-width: 992px) {
    .banner-img{
        display: none;
    }
    .banner-text{
        width: 100%;
    }
    .features-items{
        justify-content: center;
        gap: 0 20px;
    }
    .features-item{
        width: 30%;
    }  
}
@media only screen and (max-width: 720px) {
    .features-items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px 0;
    }
    .features-item {
        width: 50%;
    }
    .features-item h2 {
        font-size: 1.4rem;
        text-align: center;
    }
    .features-item p{
        font-size: 1.2rem;
        text-align: center;
    }
    .banner-text{
        padding: 0;
        align-items: center;
    }
    .banner-text div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-text p{
        text-align: center;
    }
    .banner-text a{
        align-self: center;
    }
}
@media only screen and (max-width: 600px) {
    .features-item{
        width: 70%;
    }
    .banner-text h2{
        font-size: 1.3rem;
    }
    .banner-text p{
        font-size: 1.2rem;
    }
}